---
import Back from '../components/Back.astro';
import Eyebrow from '../components/Eyebrow.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section id="about">
		<Eyebrow label='About' />
		<h1>Crafting modern digital experiences</h1>
		<p>
			My name is Luka, a software engineer focused on building meaningful
			products with clean architecture and an eye for detail.
		</p>
	</section>
  <Back />
</Layout>

