---
import Back from '../components/Back.astro';
import Eyebrow from '../components/Eyebrow.astro';
import { SOCIAL_LINKS } from '../config';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section id="about">
    <Eyebrow label='Contact' />
		<h1>Let’s build something together</h1>
	  <p>
			Have a project in mind, need help with an existing product, or just want to connect?
		</p>
    <p>
      Drop me a <a href=`mailto:${SOCIAL_LINKS.email}`>note</a> with a few details or hit me up on <a href={SOCIAL_LINKS.linkedin}>LinkedIn</a>.
    </p>
	</section>

	<Back />
</Layout>

