---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section id="home">
      <p>
        Welcome! This space is under construction, but soon it will be home to my latest
        blogs, thoughts, and experiments in building digital experiences.
      </p>
  </section>
</Layout>
